:root {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: cursive;
  letter-spacing: 2px;
}

.appStyle {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.containerStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e3d9ed;
  padding: 20px 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 70%;
}

.buttonStyle {
  margin-top: 15px;
  margin-bottom: 16px;
  width: 80px;
  height: 40px;
  background-color: #70003b;
  color: white;
  font-size: 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 70%;
}

.instructionsStyle {
  margin-top: 5px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  color: #220414;
}

.boardStyle {
  background-color: #f8efed;
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 1/3 1/3 1/3;
  flex-direction: column;
  border: 3px #eee solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 10px;
  gap: 10px;
}

.rowStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.valueStyle {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
